@mixin navbar_border_left($margin: 40px) {
  content: "";
  border: 1px solid $bg-color-main;
  margin-left: $margin;
  height: 50px;
}

@mixin navbar_border_right($margin: 40px) {
  content: "";
  border: 1px solid $bg-color-main;
  margin-right: $margin;
  height: 50px;
}

@mixin hover {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;

  &:hover {
    color: #fff;
  }
}

@mixin search($background) {
  .search {
    @include hover();
    margin: auto;
    display: flex;
    align-items: center;
    color: $font-color-main;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;

    &__icon {
      margin: 7px;
      position: absolute;
    }
    &__input {
      padding-left: 30px;
      height: 30px;
      background: $background;
      border: 0;
      color: #fff;
    }
  }
}

@mixin select($background) {
  background: $background;
  appearance: none;
  // color: $font-color-main;
  color: #eee;
  border: 0;
  padding: 7px;
}

@mixin radius-left-side {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
@mixin radius-right-side {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@mixin font-awesome($content) {
  align-self: center;
  content: $content;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  width: 0;
}

@mixin font-awesome-brands($content) {
  align-self: center;
  content: $content;
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  width: 0;
}
