$bg-color-main: #313234;
$bg-color-secondary: #2b2c2e;
// $bg-color-dark: #27292c;
$bg-color-dark: #242526;
$font-color-main: #414244;
$font-color-gray: #6a6a6c;
$font-color-gray-light: #a0a0a2;
$color-gray-light: #38393b;
$color-active: #478170;
$green-300: #79e7a0;
